.box.box-primary(style="margin-top:12px;")
    .box-header.with-border
        .h6(ng-bind="name")
        div(ng-show="opened")
            .row
                .col-xs-1

                    a.btn.btn-warning.pull-left(style="padding:8px;" href= config.protocol + "://" + config.domain + "/{{userid}}/{{namespace}}/svg/{{name}}" target="_blank" type="button", aria-label="") Open
                    //a.btn.btn-warning.pull-left(style="padding:8px;" href= config.protocol + "://" + config.domain + "/layouts/render/{{userid}}/{{name}}" target="_blank" type="button", aria-label="") Open
                .col-xs-10
                    .well.well-sm(style="word-wrap:break-all;") #{config.protocol}://#{config.domain}/{{userid}}/{{namespace}}/svg/{{name}}
                    //.well.well-sm(style="word-wrap:break-all;") #{config.protocol}://#{config.domain}/layouts/render/{{userid}}/{{name}}
                .col-xs-1
                    .box-tools.pull-right
                        button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                            i.fa.fa-minus

    .box-body
        div#wrapper(style="height:65vh;background-color:#dddddd; overflow:scroll;")
            canvas#canvas(crossorigin="anonymous", ng-show="opened", style="position:absolute;background-color:#ffffff;")

