script(type="text/javascript", src="/plugins/mailer/mailer_controllers.js")
script(type="text/javascript", src="/plugins/mailer/mailer_services.js")

script(type="text/javascript", src="/plugins/google/google_controllers.js")
script(type="text/javascript", src="/plugins/google/google_services.js")

script(type="text/javascript", src="/plugins/yahoo/yahoo_services.js")

script(type="text/javascript", src="/plugins/robot/robot_controllers.js")
script(type="text/javascript", src="/plugins/robot/robot_services.js")