.container-fluid(ng-controller='LoginController', style="text-align:center;padding-bottom:5em;background-image: url('./applications/img/main_back.jpg');background-size:100% 100%;")
    if !user
        article(style="margin:5vw;")
            ng-form(name="validate", ng-submit="Regist(items)" style="height:60%;")
                .row.col-xs-9.col-xs-offset-3.col-sm-6
                    .box.box-primary
                        .box-header.with-border
                            h5.box-title 会員登録
                        .box-body
                            .col-xs-8.col-xs-offset-0
                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.h6 ニックネーム
                                        span(ng-messages="validate.displayName.$error")
                                            span.error-message(ng-message="required") 必須項目です。
                                            span.error-message(ng-message="maxlength") 30字以内にして下さい。
                                        input.center-block.form-control.no-zoom(ng-model='items.displayName', type='text', name='displayName', placeholder='xxxxxxx', required, ng-maxlength="30")

                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.h6 メールアドレス
                                        span(ng-messages="validate.username.$error")
                                            span.error-message(ng-message="required") 必須項目です。
                                            span.error-message(ng-message="pattern") メールアドレス形式ではありません。
                                            span.error-message(ng-message="maxlength") 30字以内にして下さい。
                                        input.center-block.form-control.no-zoom(ng-model='items.username', type='email', name='username', placeholder='xxxxxxx@domain.net', required, ng-maxlength="30", ng-pattern="/^[a-z0-9-._.+]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i")

                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.h6 パスワード
                                        span(ng-messages="validate.password.$error")
                                            span.error-message(ng-message="required") 必須項目です。
                                            span.error-message(ng-message="minlength") 4文字以上にして下さい。
                                            span.error-message(ng-message="maxlength") 30字以内にして下さい。
                                        input.center-block.form-control.no-zoom(ng-model="items.password", type="password", name="password", placeholder='4字以上30字以下', required, ng-minlength="4", ng-maxlength="30")

                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.h6 パスワード確認
                                        input.center-block.form-control.no-zoom(ng-model="items.retypepassword", compare-to="items.password", type="password", name="retypepassword", placeholder='Retype Password', required, ng-minlength="4", ng-maxlength="30")
                                        span(ng-messages="validate.retypepassword.$error")
                                            span.error-message.arrow_box(ng-message="required") 必須項目です。
                                            span.error-message(ng-message="compareTo") パスワードが一致しません。
                                            span.error-message(ng-message="minlength") 4文字以上にして下さい。
                                            span.error-message(ng-message="maxlength") 30字以内にして下さい。
                            .row
                                .col-xs-12
                                    .error-message(style="text-align:center;font-weight:bold;") {{message}}
                            .col-xs-6.col-xs-offset-3
                                .col-xs-12.center-block
                                    button.btn.btn-primary.col-xs-12(type="button", ng-click='Regist(items);validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") 登録
    else
        article(style="margin:5vw;height:auto;")
            h1#title.limelight(style="text-align:left;font-size: 14.0vw;font-weight: 700;margin: 1rem 0 2vw 0;") #{status}
            p.quicksand(style='margin: 1vw 0 2vw 0;font-size: 6vw;color:#d0d0d0;text-shadow: 0 0.3rem 0 #7f8c8d;font-weight: 100;') #{message}
        article(style="margin:5vw;")
            button.btn(ng-click="Notify('Hello!!')")
                i.fa.fa-trash
                span.hidden-xs.hidden-sm Notify
