.box.box-primary
    .box-header.with-border
        .h6 Text Property
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        .row
            .col-xs-4
                label.h6(for="fillColor") fillColor
                input.form-control.no-zoom#fillColor(type='color' ng-model='fills')
            .col-xs-4
                label.h6(for="strokeColor") strokeColor
                input.form-control.no-zoom#strokeColor(type='color' ng-model='strokefills')
            .col-xs-4
                label.h6(for="fontsize") fontsize
                input.form-control.no-zoom#fontsize(name="fontsize" type="number" min=0 ng-model='fontsize' ng-change='fontsizeChange(fontsize);' placeholder="fontsize")

        .row
            .col-xs-6
                label.h6(for="x") x
                input.form-control.no-zoom#x(name="x" type="number" ng-model='x' ng-change='changeLocationX(x);' placeholder="x")
            .col-xs-6
                label.h6(for="y") y
                input.form-control.no-zoom#y(name="y" type="number" ng-model='y' ng-change='changeLocationY(y);' placeholder="y")
            .col-xs-6
                label.h6(for="w") w
                input.form-control.no-zoom#w(name="w" type="number" min="1" ng-model='w' ng-change='changeSizeW(w);' placeholder="w")
            .col-xs-6
                label.h6(for="h") h
                input.form-control.no-zoom#h(name="h" type="number" min="1" ng-model='h' ng-change='changeSizeH(h);' placeholder="h")

        .row
            .col-xs-12
                label.h6(for="text") text
                textarea.form-control.no-zoom#text(ng-model="text", type="text", name='text', ng-change="changeText();")

            .col-xs-6
                label.h6(for="FontFamily") FontFamily
                select.form-control.no-zoom#FontFamily(ng-model="FontFamily")
                    each font in fonts
                        option #{font.name}
            .col-xs-6
                label.h6(for="FontKeyword") FontKeyword
                select.form-control.no-zoom#FontKeyword(ng-model="FontKeyword")
                    option serif
                    option sans-serif
                    option monospace
            .col-xs-6
                label.h6(for="FontWeight") FontWeight
                select.form-control.no-zoom#FontWeight(ng-model="FontWeight")
                    option 100
                    option 300
                    option 500
                    option 700
                    option 900
                    option normal
                    option bold
                    option lighter
                    option bolder
            .col-xs-6
                label.h6(for="FontVariant") FontVariant
                select.form-control.no-zoom#FontVariant(ng-model="FontVariant")
                    option normal
                    option small-caps
            .col-xs-10.col-xs-offset-1
                .row.text-center
                    label.h6(for="align") Align
                    .btn-group#align(role="group" style="margin:20px;")
                        button.btn.btn-primary.btn-flat(type="button",ng-click='changeFontAlign("left");')
                            i.fa.fa-align-left
                        button.btn.btn-success.btn-flat(type="button",ng-click='changeFontAlign("center");')
                            i.fa.fa-align-center
                        button.btn.btn-info.btn-flat(type="button",ng-click='changeFontAlign("right");')
                            i.fa.fa-align-right