# Created by .ignore support plugin (hsz.mobi)
*.js
*.js.map
logs
product
typings
public/bower_components
models/**/*.js
models/**/*.js.map
server/**/*.js
server/**/*.js.map
public/applications/**/*.js
public/applications/**/*.js.map
public/services/**/*.js
public/services/**/*.js.map
public/systems/**/*.js
public/systems/**/*.js.map
public/css/*.css
public/systems/stylesheets/*.css
public/services/stylesheets/*.css
public/applications/stylesheets/*.css
public/favicons
public/img
public/applications/img
electron
public/fonts/photon-entypo.eot
public/fonts/photon-entypo.svg
public/fonts/photon-entypo.ttf
public/fonts/photon-entypo.woff
