extends ../../layout

block content
    section.content(ng-controller="SelfController")
        include ../common/navbar
        .row
            .col-xs-12
                include ./partial/mid

    guidance(scenario="{{scenario}}")
