.box.box-primary
    .box-body
        ng-form(name="content")
            .row
                .col-xs-12.col-sm-6.col-lg-4
                    .box.box-success
                        .box-header.with-border
                            .box-title Database
                            .box-tools.pull-right
                                button.btn.btn-box-tool(type='button', data-widget='collapse')
                                    i.fa.fa-minus
                        .box-body.row
                            .col-xs-12
                                label.h6(for="db_address") address
                                span(ng-messages="content.db_address.$error")
                                    span.error-message(ng-message="maxlength") もう少し短く
                                input.form-control.no-zoom#db_address(ng-model="setting.db.address", type="text", name='db_address', ng-maxlength="128")

                            .col-xs-12
                                label.h6(for="db_user") user name
                                span(ng-messages="content.db_user.$error")
                                    span.error-message(ng-message="maxlength") もう少し短く
                                input.form-control.no-zoom#db_user(ng-model="setting.db.user", type="text", name='db_user', ng-maxlength="128")

                            .col-xs-12
                                label.h6(for="db_password") password
                                span(ng-messages="content.db_password.$error")
                                    span.error-message(ng-message="maxlength") もう少し短く
                                input.form-control.no-zoom#db_password(ng-model="setting.db.password", type="text", name='db_password', ng-maxlength="128")

                            .col-xs-12
                                label.h6(for="db_name") db name
                                span(ng-messages="content.db_name.$error")
                                    span.error-message(ng-message="maxlength") もう少し短く
                                input.form-control.no-zoom#db_name(ng-model="setting.db.name", type="text", name='db_name', ng-maxlength="128")

                .col-xs-12.col-sm-6.col-lg-4
                    .box.box-success
                        .box-header.with-border
                            .box-title Domain
                            .box-tools.pull-right
                                button.btn.btn-box-tool(type='button', data-widget='collapse')
                                    i.fa.fa-minus
                        .box-body.row
                            .col-xs-12
                                label.h6(for="domain") domain
                                span(ng-messages="content.domain.$error")
                                    span.error-message(ng-message="maxlength") もう少し短く
                                input.form-control.no-zoom#domain(ng-model="setting.domain", type="text", name='domain', ng-maxlength="128")


            .row
                .col-xs-12
                    .row(style="margin-top:3rem")
                        .col-xs-2.col-xs-offset-5
                            button.btn.btn-primary#save(style="width:100%",type="button" ,ng-click='Write();', aria-label="") Save

