.box.box-info(style="margin-top:12px;" flow-init)
    .box-header.with-border
        .row
            .col-xs-12
                .box-tools.pull-right
                    button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
                .box-tools.pull-right(flow-name="uploader.flow", flow-files-added="createPicture($files);")
                    button.btn.btn-xs.btn-box-tool(flow-btn type="file", flow-attrs="{accept:'.png,.jpg,.gif,.svg'}")
                        i.fa.fa-plus-circle.text-primary
            .col-xs-12
                include ../../../systems/common/next_prev

                //select.form-control#namespace(name="namespace", ng-model="namespace", ng-options="name for name in namespaces" ng-change="SetNamespace(namespace)")
                //.panel.panel-default
                    .panel-body
                        .row(ng-controller="NamespaceController")
                            .col-xs-3
                                label.control-label(for="namespace") #{message.namespace}
                                    span(ng-messages="validate.namespace.$error")
                                        span.error-message(ng-message="required") #{message.required}
                                        span.error-message(ng-message="maxlength") #{message.long}
                                    input.form-control.no-zoom#namespace(ng-change="SetNamespace(namespace)", ng-model="namespace", type="text", name='namespace', required, ng-maxlength="50")
                            .col-xs-9
                                ul.nav.nav-tabs
                                    li(ng-repeat="name in namespaces" ng-class="{active: name == namespace}")
                                        a(ng-click="SetNamespace(name)") {{name}}


    .box-body(style="height:auto;min-height:80vh;background-color:#f0f0f0; box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3) inset" flow-drop, data-toggle="tooltip" data-placement="top" title=message.picturedrop)
        ul.nav.nav-pills.draggable-objects(ng-cloak, style="min-height:120px")
            li(ng-repeat="file in files")
                div(ng-if="Type(file.metadata.type) == 'image'", ng-class="{selected: hover}", ng-mouseenter="hover = true", ng-mouseleave="hover = false", style="height:12rem;width:16rem;margin-left:auto;margin-right:auto;")
                    button.btn.btn-danger.btn-xs(ng-click="deletePicture(file.filename);", style="position:relative;top:10px;left:2rem;border-radius: 10px")
                        i.fa.fa-ban(aria-hidden="true")
                    button.btn.btn-success.btn-xs(ng-click="editPicture(file.filename);", ng-show="file.metadata.type == 'image/jpeg' || file.metadata.type == 'image/jpg' || file.metadata.type == 'image/png'", style="position:relative;top:10px;left:10.5rem;border-radius: 10px")
                        i.fa.fa-pencil(aria-hidden="true")
                    div(style="height:8rem;",data-toggle="tooltip", data-placement="top", title="{{file.filename}}")
                        a(download ng-href="/{{file.metadata.userid}}/{{namespace}}/doc/img/{{file.filename}}", target="_blank")
                            img.center-block.thumbnail(ng-src="/{{file.metadata.userid}}/{{namespace}}/doc/img/{{file.filename}}?w=64&h=64", style="max-height:8rem;max-width:8rem;box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3)")
                    div(style="height:8rem;text-align:center;")
                        .row
                            .col-xs-12
                                div(style="word-wrap: break-word;", ng-bind="file.filename | filename:10")