.input-group
    span.input-group-addon find
    input.form-control.no-zoom(ng-model='find_name', name="find_name", type='text', ng-maxlength="30", placeholder='Name', ng-change="Find(find_name);")
    span.input-group-btn
        button.btn.btn-sm.btn-info(style="border-radius:0 0 0 0;", ng-click="Next()", ng-disabled="over")
            i.fa.fa-chevron-down
    span.input-group-btn
        button.btn.btn-sm.btn-success(style="border-radius:0 0.6rem 0.6rem 0;",ng-click="Prev()", ng-disabled="under")
            i.fa.fa-chevron-up