.input-group
    label.control-label(for="find") #{message.find}
    input.form-control.no-zoom#find(ng-model='find_name', name="find_name", type='text', ng-maxlength="30", placeholder='Name', ng-change="Find(find_name);")
    span.input-group-btn
        button.btn.btn-sm.btn-info(ng-click="Next()", ng-disabled="over")
            i.fa.fa-chevron-down
    span.input-group-btn
        button.btn.btn-sm.btn-success(ng-click="Prev()", ng-disabled="under")
            i.fa.fa-chevron-up