script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/bower_components/lodash/dist/lodash.min.js")
script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/bower_components/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/bower_components/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript", src="/bower_components/angular-messages/angular-messages.min.js")
script(type="text/javascript", src="/bower_components/angular-aria/angular-aria.min.js")
script(type="text/javascript", src="/bower_components/angular-i18n/angular-locale_ja-jp.js")

script(type='text/javascript', src='/bower_components/ng-flow/dist/ng-flow-standalone.min.js')
script(type="text/javascript", src="/bower_components/angular-chips/dist/angular-chips.min.js")

script(type="text/javascript", src="/bower_components/cryptico/cryptico.min.js")

script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

//script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js')


script(type="text/javascript", src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")

script(type="text/javascript", src="/bower_components/canvas2image/canvas2image/canvas2image.js")

script(type="text/javascript", src="/bower_components/ngDraggable/ngDraggable.js")

script(type="text/javascript", src="/bower_components/angular-loading-bar/build/loading-bar.min.js")

script(type="text/javascript", src="/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js")

script(type="text/javascript", src='/bower_components/ace-builds/src-min/ace.js', charset='utf-8')
script(type="text/javascript", src='/bower_components/angular-ui-ace/ui-ace.min.js', charset='utf-8')
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js")

script(type="text/javascript", src="/bower_components/textAngular/dist/textAngular-rangy.min.js")
script(type="text/javascript", src="/bower_components/textAngular/dist/textAngular-sanitize.min.js")
script(type="text/javascript", src="/bower_components/textAngular/dist/textAngular.min.js")

script(type="text/javascript", src="/systems/common/services.js")
script(type="text/javascript", src="/systems/common/notify/notify.js")

script(type="text/javascript", src="/systems/common/shape_edit/shape_edit.js")
script(type="text/javascript", src="/systems/common/shape_edit/adaptor.js")
script(type="text/javascript", src="/systems/common/shape_edit/server_canvas.js")

script(type="text/javascript", src="/systems/common/html_edit/html_edit.js")

script(type="text/javascript", src="/systems/publickey/publickey_services.js")

script(type="text/javascript", src="/systems/auth/auth_services.js")
script(type="text/javascript", src="/systems/auth/auth_controllers.js")

script(type="text/javascript", src="/systems/files/file_services.js")
script(type="text/javascript", src="/systems/files/file_controllers.js")

script(type="text/javascript", src="/systems/accounts/account_services.js")
script(type="text/javascript", src="/systems/accounts/account_controllers.js")

script(type="text/javascript", src="/systems/analysis/analysis_services.js")
script(type="text/javascript", src="/systems/analysis/analysis_controllers.js")

script(type="text/javascript", src="/systems/setting/setting_services.js")
script(type="text/javascript", src="/systems/setting/setting_controllers.js")

script(type="text/javascript", src="/systems/resources/resources_providers.js")

script(type="text/javascript", src="/systems/resources/builder/resource_builder_controllers.js")
script(type="text/javascript", src="/systems/resources/builder/resource_builder_services.js")

script(type="text/javascript", src="/systems/resources/player/resource_player_controllers.js")
script(type="text/javascript", src="/systems/resources/player/resource_player_services.js")

//script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.1/cropper.min.js")

//script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")