extends ../../../backoffice_layout

block content
    section.content-header
        .h5.text-gray #{message.builder}
    section.content(ng-controller="FormBuilderController")
        include partial/navbar
        .row#draggable_area
            .col-xs-3.col-sm-3
                include partial/elements
            .col-xs-9.col-sm-9
                include partial/form
        div(ng-show="opened")
            div(ng-show="components")
                include partial/components
            div(ng-show="attributes")
                include partial/attributes