extends ../../backoffice_layout

block content
    section.content(ng-controller="ProfileController")
        include ./partial/navbar
        .row
            .col-xs-12
                include ./partial/mid
