extends ../../backoffice_layout

block content
    section.content(ng-controller="ProfileController")
        include ./partial/navbar
        .row
            .col-xs-12
                div(style="font-size:2rem;color:#607D8B") #{message.profile}
        .row
            .col-xs-12
                include ./partial/mid
