extends  ../../backoffice_layout

block content
    section.content(ng-controller="SettingController")
        include ./partial/navbar
        .flex-row
            .flex-column
                include ./partial/mid