.modal-content
    .modal-header
        span.h5.modal-title 記事
    .modal-body.noto
        .row
            .col-xs-12(style="word-wrap:break-word;word-break:break-all")
                ng-form(name="validate")
                    .row
                        .col-xs-12
                            .form-group
                                label.h6(for="name") Article Name
                                span(ng-messages="validate.title.$error")
                                    span.error-message(ng-message="required") #{messages.required}
                                    span.error-message(ng-message="maxlength") #{messages.long}
                                input.form-control.no-zoom#name(ng-model="title", type="text", name='title', required, ng-maxlength="50")

            .col-xs-12
                include ../../../systems/common/error_message

    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") Cancel
                    button.btn.btn-primary(type="button" ,ng-click='answer()', ng-disabled="progress || validate.$invalid", aria-label="") OK