.modal-content
    .modal-header
        span.h5.modal-title 記事削除
    .modal-body.noto
        .row
            .col-xs-12
                div  {{name}}を削除します。よろしいですか?
            .col-xs-12
                include ../../../systems/common/error_message
    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button",ng-click='cancel()', aria-label="") Cancel
                    button.btn.btn-primary(type="button",ng-click='answer()', aria-label="", ng-disabled="progress || validate.$invalid") OK