doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv="Content-Type" content="text/html")
        meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
        title #{message.brand}
        include ./systems/common/favicon

        // AdminLTE
        link(rel='stylesheet', href='/bower_components/AdminLTE/dist/css/AdminLTE.min.css')
        // AdminLTE

        include ./systems/common/webfonts

        include ./systems/common/stylesheets
        include ./services/common/stylesheets
        include ./plugins/common/stylesheets


    body.control.hold-transition.sidebar-mini.fixed#body(ng-app="BackOfficeApplication", ng-controller="BackOfficeController")
        .wrapper
            header.main-header
                include services/backoffice/partial/backoffice_sidebar
            .content-wrapper(style="height:auto;overflow:scroll;")
                block content

include ./systems/common/scripts
include ./services/common/scripts
include ./plugins/common/scripts


// AdminLTE
script(src='/bower_components/jquery-slimscroll/jquery.slimscroll.js')
//script(src='/bower_components/AdminLTE/dist/js/app.min.js')
// AdminLTE