doctype html
html
    head
        title HTML 5 GeoLocation Demo

    body(style="display: flex;")
        div(style="width:100px;") a
        div(style="flex:1;") b
        div(style="width:100px;") c




