nav.navbar.navbar-fixed-top.navbar-color(role="navigation")
        .container-fluid
            .navbar-header
                button.btn-primary.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.page-scroll.brand-font-local(href="/", ng-click="go('/')") #{message.brand}
            #bs-navbar.navbar-collapse.collapse
                ul.nav.navbar-nav