footer.sub_footer(style="background:#202830;")
    .container
        .row(style="margin:1rem")
            .col-sm-10.col-sm-offset-1
                p.sub-footer-text.text-center
                    | Back to
                    a(href='#top') TOP