div
    .modal-header
        span.h5.modal-title Chips
    .modal-body.noto
        .row.row-padded
            .col-xs-12(style="word-wrap:break-word;word-break:break-all")
                ng-form(name="validate")
                    .row
                        .col-xs-12
                            .form-group
                                label(for="name") Key
                                span(ng-messages="validate.title.$error")
                                    span.error-message(ng-message="required") 必須です
                                    span.error-message(ng-message="maxlength") もう少し短く
                                    span.error-message(ng-message="pattern") その文字を含むことはできません
                                input.form-control.no-zoom#name(tabindex="1" ng-model="key", type="text", name='title', required, ng-maxlength="50", ng-pattern="key_escape")

            .col-xs-12.text-center
                .error-message(style="text-align:center;font-size:1.3rem;margin-top:1rem;font-weight:bold;") {{message}}

    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") Cancel
                    button.btn.btn-primary(type="button" ,ng-click='answer();validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") OK