nav.navbar.navbar-default.navbar-fixed-top.shadow(style="position:fixed;", ng-controller='LoginController' role="navigation")
        .container-fluid.noto
            .navbar-header
                button.btn-primary.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.page-scroll(href="/", ng-click="go('/')") Articles
                    //i.ion-ios-analytics-outline(style="text-align:center;") #{type}
            #bs-navbar.navbar-collapse.collapse
                ul.nav.navbar-nav