.box.box-primary
    .box-header
        .h5 Forms
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        ul.nav.nav-pills
            li(ng-repeat="form in pages",style="margin:8px;")
                .select-item(ng-class="{selected: hover || PageSelected(form.name)}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="SelectPage(form.name);", style="box-shadow:3px 3px 6px #455A64;border-radius: 1rem;border-color:#009056;border: 0.0rem solid;width:8rem;height:8rem;")
                    div(style="text-align:center;word-wrap: break-word;margin:1rem;padding: 1rem;")
                        div(style="font-size:12px;") {{form.name | limit:10}}