.box.box-primary.pallete-shadow.pallete-background(ng-cloak ng-show="opened")
    .box-header.with-border
        div
            .box-tools.pull-right
                button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                    i.fas.fa-minus
        span.hidden-xs.hidden-sm
            include ../../../../systems/common/next_prev

    .box-body
        table.table.table-striped
            tr(ng-repeat="article in articles")
                td(ng-class="{selected: hover || SelectedArticle(article._id)}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="SelectArticle(article._id)")
                    span {{article.name}}


.box.box-success(ng-cloak ng-show="opened")
    .box-body
        .input-root