footer#fh5co-footer
    .container.noto
        .row.row-padded
            .col-md-12.text-center
                p.fh5co-social-icons
                    a(href='#')
                        i.icon-twitter
                    a(href='#')
                        i.icon-facebook
                    a(href='#')
                        i.icon-instagram
                    a(href='#')
                        i.icon-dribbble
                    a(href='#')
                        i.icon-youtube
            .col-md-12.text-center