.box.box-primary(ng-cloak)
    .box-header.with-border
        .h5.box-title Layouts
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        ul.nav.nav-pills
            li(ng-repeat="layout in layouts")
                div.select-item(ng-class="{selected: hover || SelectedLayout(layout._id)}", ng-mouseenter="hover = true", ng-mouseleave="hover = false",ng-click="SelectLayout(layout._id)",style="height:12rem;width:8rem;", ng-hide="progress")
                    div(style="height:4rem;")
                        img.center-block.thumbnail(ng-src="/layouts/layout/svg/{{layout.name}}", style="border: 0.1rem #404040 solid;height:4rem;")
                    div(style="height:8rem;text-align:center;")
                        .row
                            .col-xs-12
                                div(style="font-size:1.5rem;") {{layout.name | limit:10 }}
                            .col-xs-12
                                div(style="font-size:0.3rem;color:#aaaaaa;") ({{layout.content.title | limit:20 }})
                            .col-xs-12
                                div.hidden-xs(style="font-size:0.5rem;") {{layout.modify | date:'yyyy/MM/dd' }}
                div(style="height:12rem;width:8rem;", ng-show="progress")
                    div(style="height:4rem;")
                        img.center-block.thumbnail(ng-src="/layouts/layout/svg/{{layout.name}}", style="border: 0.1rem #404040 solid;max-height: 4rem;max-width: 6rem;")
                    div(style="height:8rem;text-align:center;")
                        .row
                            .col-xs-12
                                div(style="font-size:1.5rem;") {{layout.name | limit:10 }}
                            .col-xs-12
                                div(style="font-size:0.3rem;color:#aaaaaa;") ({{layout.content.title | limit:20 }})
                            .col-xs-12
                                div.hidden-xs(style="font-size:0.5rem;") {{layout.modify | date:'yyyy/MM/dd' }}