extends ../../backoffice_layout

block content
    section.content(ng-controller="AnalysisController")
        include partial/navbar
        .box.box-info
            .box-header.with-border
                .row
                    .col-xs-12
                        .box-tools.pull-right
                            button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                                i.fa.fa-minus
                    .col-xs-12
                        include ../../systems/common/next_prev
            .box-body
                .row
                    .col-xs-12
                        div(style="margin:10px 0;border-style: solid; border-color: #eeeeee;border-width:1px;")
                            .flex-column(style="background-color: #eeeeee;height:3.0rem;")
                                .flex-row(style="font-size:1.4rem;font-weight: bold;color:#6060a0;")
                                    .ellipsis(style="width:15%;") time
                                    .ellipsis(style="width:30%;") address
                                    .ellipsis(style="width:30%;") headers
                                    .ellipsis(style="width:25%;") referer

                            .flex-column(style="display:block;height:50vh;overflow-y:scroll;")
                                .flex-row(ng-repeat="log in logs" ng-style="{'background-color': ($index % 2 === 0 ? '#ddddff':'#ffffff')}" style="justify-content:flex-start;align-items:center;")
                                    .ellipsis(style="width:15%;user-select: text;") {{log.content.time | date:medium}}
                                    .ellipsis(style="width:30%;user-select: text;") {{log.content.address}}
                                    .ellipsis(style="width:30%;user-select: text;") {{log.content.headers | length:36}}
                                    .ellipsis(style="width:25%;user-select: text;") {{log.content.referer}}

            .box-footer.clearfix
                div(ng-bind="message")



