extends ../../../backoffice_layout

block content
    section.content-header
        .h5.text-gray Player
    section.content(ng-controller="FormPlayerController")
        include partial/navbar
        include partial/form