.container(ng-controller='UserSettingController', style="padding:0;")
    div(style="color:#FAFAFA;margin:2rem;")
        | #{message.brand}
        small(style="color:#607D8B;font-size:0.8rem;") Version 1.0