div
    .modal-body
        img.center-block.img-responsive(ng-src="{{image}}")
    //.modal-footer
        .text-center(style="margin:2rem;")
            button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") Close