extends ../../backoffice_layout

block content
    div
        section.content-header
            .h5.text-gray
                | BackOffice
                small(style="color:#bbbbbb;") Version 1.0
        section.content(style="height:95vh;overflow:scroll;")
            include partial/navbar
            .container-fluid(style="text-align:center;")
                button.btn.btn-warning(type="button", ng-click='Notify();', aria-label="") Notify
