nav.navbar.navbar-default.navbar-fixed-top.shadow(style="position:fixed;" role="navigation")
    .container-fluid.noto
        .navbar-header
            button.btn-primary.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll(href="/", ng-click="go('/')") Mail
        #bs-navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | Robot
                    ul.dropdown-menu(role="menu")
                        li
                            a(href="#", ng-click="SendMail();", role="menuitem") Create...