.box.box-primary(ng-show="opened")
    .box-header.with-border

        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        form(name="validate")
            div#root