div
    .modal-header
        span.h5.modal-title Create
        span.pull-right
            button.btn.btn-xs.btn-box-tool(type='button',ng-click='cancel()')
                i.fas.fa-times
    .modal-body
        .row
            .col-xs-12(style="word-wrap:break-word;word-break:break-all")
                ng-form(name="validate")
                    .row
                        .col-xs-12
                            .form-group
                                label.h6(for="name") Name
                                span(ng-messages="validate.title.$error")
                                    span.error-message(ng-message="required") #{message.required}
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#name(ng-model="name", type="text", name='name', required, ng-maxlength="50")
        .row
            .col-xs-12
                include ../../../systems/common/error_message
    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") #{message.cancel}
                    button.btn.btn-primary(type="button" ,ng-click='answer();validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") #{message.ok}