extends ../../layout

block content
        section.content(ng-controller="DataController")
            include partial/navbar
            .row
                .col-xs-12
                    div(style="font-size:2rem;color:#607D8B") #{message.page}
            .row
                .col-xs-12
                    include partial/mid