extends ../../../backoffice_layout

block content
    section.content-header
        .h5.text-gray #{message.player}
    section.content(ng-controller="HtmlPlayerController")
        include partial/navbar
        include partial/form