nav.navbar.navbar-fixed-top.navbar-color(style="position:fixed;")
    .container-fluid(style="padding:0")
        .navbar-header(style="padding-left:10px;")
            button.btn-primary.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll.brand-font-local(href="/", ng-click="go('/')") #{message.brand}

        #bs-navbar.navbar-collapse.collapse.navbar-color(style="padding-right:10px;")
            div
                span(style="float:right")
                    button.btn.btn-warning(type="button" ,href='#', ng-click="showPasswordDialog()", aria-label="", style="margin:12px;")
                        i.fa.fa-key
                        span &nbsp;#{message.password}
                if !user
                    span(style="float:right")
                        button.btn.btn-info(type="button" ,href='#', ng-click="showLoginDialog()", aria-label="", style="margin:12px;")
                            i.fa.fa-sign-in
                            span &nbsp;#{message.login}


