script(type="text/javascript", src="/bower_components/js-load-image-bower/js/load-image.all.min.js")

script(type="text/javascript", src="/services/backoffice/backoffice_application.js")
script(type="text/javascript", src="/services/backoffice/backoffice_controllers.js")

script(type="text/javascript", src="/services/profile/profile_controllers.js")

script(type="text/javascript", src="/services/pages/pages_controllers.js")

script(type="text/javascript", src="/services/pictures/pictures_controllers.js")

script(type="text/javascript", src="/services/blob/blob_controllers.js")

script(type="text/javascript", src="/services/groups/group_controllers.js")
script(type="text/javascript", src="/services/groups/group_services.js")

script(type="text/javascript", src="/services/articles/article_controllers.js")
script(type="text/javascript", src="/services/articles/article_services.js")

script(type="text/javascript", src="/services/images/image_controllers.js")
script(type="text/javascript", src="/services/images/image_services.js")

script(type="text/javascript", src="/services/layouts/layouts_providers.js")

script(type="text/javascript", src="/services/layouts/builder/template_services.js")
script(type="text/javascript", src="/services/layouts/builder/layouts_builder_controllers.js")

script(type="text/javascript", src="/services/layouts/player/layouts_services.js")
script(type="text/javascript", src="/services/layouts/player/layouts_player_controllers.js")

script(type="text/javascript", src="/services/forms/forms_providers.js")

script(type="text/javascript", src="/services/forms/builder/form_builder_controllers.js")
script(type="text/javascript", src="/services/forms/builder/form_builder_services.js")

script(type="text/javascript", src="/services/forms/player/form_player_controllers.js")
script(type="text/javascript", src="/services/forms/player/form_player_services.js")

script(type="text/javascript", src="/services/namespace/namespace_controllers.js")
script(type="text/javascript", src="/services/namespace/namespace_services.js")

script(type="text/javascript", src="/services/members/members_controllers.js")
script(type="text/javascript", src="/services/members/members_services.js")

script(type="text/javascript", src="/bower_components/angular-loading-bar/build/loading-bar.min.js")
script(type="text/javascript", src="/bower_components/jquery-resizable/dist/jquery-resizable.js")

script(type="text/javascript", src="/applications/front/front_application.js")
script(type="text/javascript", src="/applications/front/front_controllers.js")
script(type="text/javascript", src="/applications/front/front_services.js")