script(type="text/javascript", src="/services/profile/profile_controllers.js")

script(type="text/javascript", src="/services/groups/group_controllers.js")
script(type="text/javascript", src="/services/groups/group_services.js")

script(type="text/javascript", src="/services/articles/article_controllers.js")
script(type="text/javascript", src="/services/articles/article_services.js")

script(type="text/javascript", src="/services/images/image_controllers.js")
script(type="text/javascript", src="/services/images/image_services.js")

script(type="text/javascript", src="/services/layouts/layouts_providers.js")

script(type="text/javascript", src="/services/layouts/builder/template_services.js")
script(type="text/javascript", src="/services/layouts/builder/layouts_builder_controllers.js")

script(type="text/javascript", src="/services/layouts/player/layouts_services.js")
script(type="text/javascript", src="/services/layouts/player/layouts_player_controllers.js")

script(type="text/javascript", src="/services/forms/forms_providers.js")

script(type="text/javascript", src="/services/forms/builder/form_builder_controllers.js")
script(type="text/javascript", src="/services/forms/builder/form_builder_services.js")

script(type="text/javascript", src="/services/forms/player/form_player_controllers.js")
script(type="text/javascript", src="/services/forms/player/form_player_services.js")

