link(rel="stylesheet", type="text/css", href="/services/stylesheets/styles.css")



link(rel='stylesheet', type="text/css", href="/bower_components/angular-loading-bar/build/loading-bar.min.css")
link(rel='stylesheet', type="text/css", href='/css/custom_bootstrap.css')
link(rel="stylesheet", type="text/css", href="/css/styles.css")
