.box.box-danger.pallete-shadow.pallete-background(draggablepane="attribute",style="width:auto;height:auto;left:240px;top:500px;")
    .box-header.with-border
        .h6 Attribute
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        .row
            .col-xs-6
                div Name:{{name}}
            .col-xs-6
                div(ng-bind="newid")
        .row
            .col-xs-12
                ng-form(name="content" ng-cloak)
                    uib-tabset(active='activeForm')
                        uib-tab(id="Content",heading="Content" role='tabpanel')
                            .box.box-warning
                                .box-body
                                    div(ng-show="selected_element_type == 'select'")
                                        label(for="element_contents") element_contents
                                        chips(ng-model='tab.element_contents',style="height: 36px;", ng-change="contents_update(tab.element_contents);")
                                            chip-tmpl
                                                .default-chip {{chip}}
                                                    span.fa.fa-times(remove-chip='')
                                            input#element_contents(name="element_contents",style="background-color:transparent;" chip-control)

                                    //label(for="element_contents") content
                                    //textarea.form-control.no-zoom#element_contents(type="text", ng-model="tab.element_contents", ng-change="contents_update(tab.element_contents);")
                                    div(ng-show="selected_element_type != 'select'")
                                        .pad
                                            //textarea.textarea(ng-model="tab.element_contents", ng-change="contents_update(tab.element_contents);", style="width: 100%; height: 200px; font-size: 1.4vw; line-height: 18px; border: 1px solid #dddddd; padding: 10px;")
                                            //div.textarea(ui-ace="aceOption", ng-model='tab.element_contents', style="height: 200px;")
                                            div(ui-ace="{useWrapMode : true,mode: 'html',onLoad: aceLoaded,onChange: aceChanged}", ng-model='tab.element_contents', style="height: 200px;", ng-change="changeElementContents(tab.element_contents)")

                        uib-tab(id="Attributes",heading="Attributes" role='tabpanel')
                            .box.box-success
                                .box-header.with-border
                                    button.btn.btn-xs.btn-primary.pull-right(ng-click="add_attribute();") +
                                .box-body
                                    table.table
                                        tr(ng-repeat="(key,value) in attributes")
                                            td
                                                button.btn.btn-xs.btn-danger.pull-right(ng-click="remove_attribute(key);", ng-disabled="key == 'style' || key == 'ng-click' ") x
                                                label(style="font-size:0.4vw;") {{key}}
                                                input.form-control.no-zoom(type="text", ng-model="value", ng-change="attribute_value_update(key,value);", ng-disabled="key == 'style' || key == 'ng-click' ")

                        uib-tab(id="Style",heading="Style" role='tabpanel')
                            .box.box-info
                                .box-header.with-border
                                    button.btn.btn-xs.btn-primary.pull-right(ng-click="add_style();") +
                                .box-body
                                    table.table
                                        tr(ng-repeat="(key,value) in items")
                                            td
                                                button.btn.btn-xs.btn-danger.pull-right(ng-click="remove_style(key);", ng-disabled="key == 'cursor'") x
                                                label(style="font-size:0.4vw;") {{key}}
                                                input.form-control.no-zoom(type="text" ng-model="value" ng-change="style_value_update(key,value);", ng-disabled="key == 'cursor'")
