.box.box-info.pallete-shadow.pallete-background(draggablepane="component", style="width:40vw;height:auto;left:240px;top:210px;")
    .box-header.with-border
        .h6 Add Components
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        .row
            .col-xs-12
                .btn-group.text-center(role="group",style="width:100%;")
                    button.btn.btn-app(ng-click="addTag();")
                        i.fa.fa-question-circle
                        span.hidden-xs.hidden-sm  Tag
                    button.btn.btn-app(ng-click="addHtml();")
                        i.fa.fa-align-justify
                        span.hidden-xs.hidden-sm  HTML
                    button.btn.btn-app(ng-click="addDiv();")
                        i.fa.fa-code
                        span.hidden-xs.hidden-sm  Div
                    button.btn.btn-app(ng-click="addField();")
                        i.fa.fa-font
                        span.hidden-xs.hidden-sm  Field
                    button.btn.btn-app(ng-click="addTextArea();")
                        i.fa.fa-align-justify
                        span.hidden-xs.hidden-sm  TextArea
                    button.btn.btn-app(ng-click="addNumber();")
                        i.fa.fa-sort-numeric-asc
                        span.hidden-xs.hidden-sm  Number
                    button.btn.btn-app(ng-click="addImg();")
                        i.fa.fa-picture-o
                        span.hidden-xs.hidden-sm  Img
                    button.btn.btn-app(ng-click="addSelect();")
                        i.fa.fa-th-list
                        span.hidden-xs.hidden-sm  Select
                    button.btn.btn-app(ng-click="addChack();")
                        i.fa.fa-check-square-o
                        span.hidden-xs.hidden-sm  Chack
                    button.btn.btn-app(ng-click="addChips();")
                        i.fa.fa-tag
                        span.hidden-xs.hidden-sm  Chips