.box.box-primary(ng-show="opened")
    .box-header.with-border
        .h6(ng-bind="name")
        .well.well-sm(layout="word-wrap:break-all;") https://#{domain}/forms/render/{{userid}}/{{name}}
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body#box(style="position:relative;")
        div#root
        div#mark