.box.box-primary(ng-show="opened")
    .box-header.with-border
        .h6(ng-bind="name")
        //.well.well-sm(style="word-wrap:break-all;") https://#{domain}/forms/render/{{userid}}/{{name}}
        //.box-tools.pull-right
            button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                i.fas.fa-minus
    .box-body#box(style="position:relative;")
        div(style="height:70vh;overflow:scroll;")
            div#root
        div#mark