.box.box-info(ng-controller="ImageController", flow-init)
    .box-header
        div
            .box-tools.pull-right
                button.btn.btn-sm.btn-box-tool(type='button', data-widget='collapse')
                    i.fa.fa-minus
        div
            .box-tools.pull-right(flow-name="uploader.flow", flow-files-added="createImage($files);")
                button.btn.btn-sm.btn-box-tool(flow-btn type="file", flow-attrs="{accept:'.png,.jpg,.gif,.svg'}")
                    i.fa.fa-2x.fa-plus-circle.text-primary

        include ../../../../systems/common/next_prev

    .box-body(style="background-color:#e0e5f0; box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3) inset" flow-drop)
        ul.nav.nav-pills.draggable-objects(ng-cloak)
            li(ng-repeat="file in files")
                div(ng-if="Type(file.metadata.type) == 'image'",ng-class="{selected: hover}", ng-mouseenter="hover = true", ng-mouseleave="hover = false", style="height:8rem;width:8rem;margin-left:auto;margin-right:auto;")
                    button.btn.btn-danger.btn-xs(ng-click="deleteImage(file.filename);", style="position:relative;top:10px;left:10px;border-radius: 10px") x
                    div(style="height:4rem;")
                        img.center-block.thumbnail(ng-src="/files/api/" + '{{file.metadata.userid}}' + "/" + '{{file.filename}}' , style="border: 1px #404040 solid;max-height: 4rem;max-width: 6rem;")
                        //ng-drag="true" ng-drag-data="obj" data-allow-transform="true",
                    div(style="height:2rem;text-align:center;")
                        div(style="word-wrap: break-word;font-size:1rem;") {{file.filename}}