.box.box-info
    .box-header.with-border
        .h6 Image Property
        .box-tools.pull-right
            button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        .row
            .col-xs-4
                label.h6(for="fillColor1") fillColor
                input.form-control.no-zoom#fillColor1(type='color' ng-model='fills')
            .col-xs-4
                label.h6(for="strokeColor1") strokeColor
                input.form-control.no-zoom#strokeColor1(type='color' ng-model='strokefills')
            .col-xs-4
                label.h6(for="strokewidth1") strokewidth
                input.form-control.no-zoom#strokewidth1(name="stroke" type="number" min=0 ng-model='strokewidth' ng-change='strokewidthChange(strokewidth);' placeholder="太さ")
            .col-xs-12
                label.h6(for="path") path
                input.form-control.no-zoom#path(name="path" type="text" min=0 ng-model='path' ng-change='pathChange(path);' placeholder="Path")
        .row
            .col-xs-6
                label.h6(for="x") x
                input.form-control.no-zoom#x(name="x" type="number" ng-model='x' ng-change='changeLocationX(x);' placeholder="x")
            .col-xs-6
                label.h6(for="y") y
                input.form-control.no-zoom#y(name="y" type="number" ng-model='y' ng-change='changeLocationY(y);' placeholder="y")
            .col-xs-6
                label.h6(for="w") w
                input.form-control.no-zoom#w(name="w" type="number" min="1" ng-model='w' ng-change='changeSizeW(w);' placeholder="w")
            .col-xs-6
                label.h6(for="h") h
                input.form-control.no-zoom#h(name="h" type="number" min="1" ng-model='h' ng-change='changeSizeH(h);' placeholder="h")