.box.box-primary(ng-show="opened")
    .box-header.with-border
        .h6(ng-bind="name")
        .well.well-sm(style="word-wrap:break-all;") https://#{domain}/resources/render/{{userid}}/{{name}}
        .box-tools.pull-right
            button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        .row-fluid
            .col-xs-12
                div(ui-ace="aceOption", ng-model='resource', style="height: 70vh;")