.box.box-primary(ng-show="opened")
    .box-header.with-border
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        .row
            .col-xs-12
                button.btn.btn-warning(type="button", ng-click='OpenPreview()', aria-label="") Preview

        .row
            .col-xs-12
                div(ng-repeat="page in pages") {{page.name}}