body {
  font-size: 12px;
}
#title {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 5px 10px 8px rgba(230, 230, 255, 0.6);
}
.title-shadow {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 5px 10px 8px rgba(230, 230, 255, 0.6);
}
.error-message {
  color: #3b24f8;
  font-size: 10px;
  float: right;
}
.shadow {
  box-shadow: 0 2px 4px 2px rgba(10, 0, 40, 0.4);
}
.transparent {
  opacity: 0.9;
}
.error-message {
  color: #f83b24;
  font-size: 10px;
  float: right;
}
.no-zoom {
  font-size: 16px ;
}
.select-item:hover {
  background-color: #d0d0d0;
}
.footer #button {
  width: 35px;
  height: 35px;
  border: #727172 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3A3A3A 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 12em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: .8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e6e6e6;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e6e6e6;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e6e6e6;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e6e6e6;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.modal .modal-dialog {
  opacity: 0;
  -webkit-transform: translate(20%, 0%);
  -ms-transform: translate(20%, 0%);
  -o-transform: translate(20%, 0%);
  transform: translate(20%, 0%);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9) 1s;
  -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9) 1s;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9) 1s;
}
.modal .modal-dialog {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.control {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}
.well {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -khtml-user-select: text;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-auto {
  flex: 1;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.color-transition {
  transition: background-color 0.8s linear;
}
.color-transition:hover {
  background-color: #ef0004;
  transition: background-color 0.15s linear;
}
