.box.box-danger.pallete-shadow.pallete-background(draggablepane="pallete", style="width:300px;height:auto;left:240px;top:210px;")
    .box-header.with-border
        .h5 Property
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body(ng-show="SelectType == 'Shape'")
        ng-form(name="content" ng-cloak ng-show="opened")
            include pallete/shape
            include pallete/player
    .box-body(ng-show="SelectType == 'Text'" )
        ng-form(name="content" ng-cloak ng-show="opened")
            include pallete/text
            include pallete/player
    .box-body(ng-show="SelectType == 'Image'")
        ng-form(name="content" ng-cloak ng-show="opened")
            include pallete/image
            include pallete/player
