.footer
    #button
    #container
        .box.box-info
            .box-body
                ul.nav.nav-pills(ng-controller="ImageController", ng-cloak)
                    li(ng-repeat="file in files" style="width:8rem;")
                        div(ng-class="{selected: hover}", ng-mouseenter="hover = true", ng-mouseleave="hover = false",style="height:4rem;")
                            img.center-block.thumbnail(ng-src="/files/api/" + '{{file.metadata.userid}}' + "/" + '{{file.filename}}' , style="border: 1px #404040 solid;max-height: 4rem;max-width: 6rem;")
                        div(style="height:2rem;text-align:center;")
                            div(style="word-wrap: break-word;font-size:1rem;") {{file.filename}}