.box.box-info.pallete-shadow.pallete-background(draggablepane="mode", style="width:auto;height:auto;left:240px;top:210px;")
    .box-header.with-border
        .h5 Mode
        .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
    .box-body
        .btn-group(role="group",style="width:100%;")
            label.btn.btn-primary(ng-model="editmode" uib-btn-radio="'move'" ng-click="ChangeEditMode(editmode)",style="width:33%;")
                i.fa.fa-arrows
                span.hidden-xs.hidden-sm  Move
            label.btn.btn-success(ng-model="editmode" uib-btn-radio="'draw'" ng-click="ChangeEditMode(editmode)",style="width:34%;")
                i.fa.fa-mouse-pointer
                span.hidden-xs.hidden-sm Draw
            label.btn.btn-info(ng-model="editmode" uib-btn-radio="'bezierdraw'" ng-click="ChangeEditMode(editmode)",style="width:33%;")
                i.fa.fa-mouse-pointer
                span.hidden-xs.hidden-sm Curve