extends ../../layout

block content
    section.content(ng-controller="PhotoController")
        include ../common/navbar
        .flex-row
            .flex-column
                div(style="font-size:2rem;color:#607D8B") #{message.photo}
        .flex-row
            .flex-column
                include ./partial/mid

    guidance(scenario="{{scenario}}")