div
    .modal-header
        span.h5.modal-title Forms

        include ../../../../systems/common/next_prev
        //span.pull-right
            button.btn.btn-info(style="border-radius:6px 0 0 6px;", ng-click="Next()")
                i.fa.fa-chevron-down
            button.btn.btn-default(style="border-radius:0 6px 6px 0;",ng-click="Prev()")
                i.fa.fa-chevron-up

    .modal-body.noto
        .row
            .col-xs-12
                table.table.table-striped(ng-cloak)
                    tr(ng-repeat="article in articles")
                        td(ng-class="{selected: hover}", ng-mouseenter="hover = true", ng-mouseleave="hover = false",ng-click="Get(page)")
                            span(ng-bind="page.name | limit:20")
        .row
            .col-xs-12
                include ../../../../systems/common/error_message

    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") Cancel
