extends ../../../backoffice_layout

block content
    section.content-header
        .h5.text-gray #{message.builder}
    section.content(ng-controller="ResourceBuilderController")
        include partial/navbar
        .row
            .col-xs-12.col-sm-12
                include partial/form
