extends ../../../backoffice_layout

block content
    section.content-header
        .h5.text-gray Builder
    section.content(ng-controller="ResourceBuilderController")
        include partial/navbar
        .row
            .col-xs-12.col-sm-12
                include partial/form
            //.col-xs-2.col-sm-2
                include partial/pallete
