.box.box-primary
    .box-header.with-border
        .row
            .col-xs-12
                .box-tools.pull-right
                    button.btn.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
        .box-title
            span(style="color:#888888") username:
            span(style="color:#666666", ng-bind="username")
            span &nbsp;&nbsp;&nbsp;
            span(style="color:#888888") provider:
            span(style="color:#666666", ng-bind="provider")
            span &nbsp;&nbsp;&nbsp;
            span(style="color:#888888") type:
            span(style="color:#666666", ng-bind="type")
    .box-body
        .col-xs-12
            ng-form(name="validate")
                .row
                    .col-xs-2
                        label Profile
                        div(flow-init)
                            .box-tools.pull-right(flow-name="uploader.flow", flow-files-added="CreateProfilePicture($files);")
                            div(flow-drop)
                                img.center-block.thumbnail#profile(ng-src="/files/api/" + '{{userid}}' + "/" + '{{username}}', style="width:100px;height:100px;box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3)")

                    .col-xs-12
                        .row(style="margin-top:3rem")
                            .col-xs-2.col-xs-offset-5
                                button.btn.btn-primary#save(style="width:100%",type="button" ,ng-click='Save();validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") Save

                    //.col-xs-12
                        button.btn.btn-danger#help(style="width:100%",type="button" ,ng-click='to(0)', aria-label="") Help