nav.navbar.navbar-default.navbar-fixed-top.shadow(style="position:fixed;" role="navigation")
        .container-fluid.noto
            .navbar-header
                button.btn-primary.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.page-scroll(href="/", ng-click="go('/')") イラスト
            #bs-navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    if user
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | ファイル
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#", ng-click="Create();", role="menuitem") 作成
                                li
                                    a(href="", ng-click="Open();", role="menuitem") 開く...
                                li(ng-class="{disabled: !opened}")
                                    a(href="", ng-click="opened && Update();", role="menuitem") 保存
                                li.divider
                                li(ng-class="{disabled: !opened}")
                                    a(href="", ng-click="opened && UpdateAs();", role="menuitem") 名前をつけて保存...
                                li.divider
                                li(ng-class="{disabled: !opened}")
                                    a(href="", ng-click="opened && Delete();", role="menuitem") 削除
                        li.dropdown(ng-class="{disabled: !opened}")
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | 編集
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#", ng-click="opened && Copy();", role="menuitem") コピー
                                li
                                    a(href="#", ng-click="opened && Paste();", role="menuitem") ペースト
                                li.divider
                                li
                                    a(href="#", ng-click="opened && DeleteSelected();", role="menuitem") 削除

                        li.dropdown(ng-class="{disabled: !opened}")
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | 配置
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#", ng-click="opened && SetAlign(0);", role="menuitem") 上辺を重ねる
                                li
                                    a(href="#", ng-click="opened && SetAlign(1);", role="menuitem") 右辺を重ねる
                                li
                                    a(href="#", ng-click="opened && SetAlign(2);", role="menuitem") 下辺を重ねる
                                li
                                    a(href="#", ng-click="opened && SetAlign(3);", role="menuitem") 左辺を重ねる
                                li.divider
                                li
                                    a(href="#", ng-click="opened && SetAlign(4);", role="menuitem") 上辺に合わせる
                                li
                                    a(href="#", ng-click="opened && SetAlign(5);", role="menuitem") 右辺に合わせる
                                li
                                    a(href="#", ng-click="opened && SetAlign(6);", role="menuitem") 下辺に合わせる
                                li
                                    a(href="#", ng-click="opened && SetAlign(7);", role="menuitem") 左辺に合わせる
                                //li.divider
                                //li
                                    a(href="#", ng-click="opened && SetScale(1);", role="menuitem") Scale(1)
                                //li
                                    a(href="#", ng-click="opened && SetScale(1.2);", role="menuitem") Scale(1.2)

                        li.dropdown(ng-class="{disabled: !opened}")
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | 図形
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#", ng-click="opened && AddBox();", role="menuitem") 四角
                                li
                                    a(href="#", ng-click="opened && AddOval();", role="menuitem") 楕円
                                li
                                    a(href="#", ng-click="opened && AddBezier();", role="menuitem") 曲線
                                li
                                    a(href="#", ng-click="opened && AddText();", role="menuitem") テキスト
                                li
                                    a(href="#", ng-click="opened && AddImage();", role="menuitem") イメージ
                                li.divider
                                li
                                    a(href="#", ng-click="opened && ToTop();", role="menuitem") 最前面
                                li
                                    a(href="#", ng-click="opened && ToBottom();", role="menuitem") 最背面
                                li.divider
                                li
                                    a(href="#", ng-click="opened && Lock();", role="menuitem") 固定
                                li
                                    a(href="#", ng-click="opened && UnLockAll();", role="menuitem") 固定を全て解除
                                li.divider
                                li
                                    a(href="#", ng-click="opened && Group();", role="menuitem") グループ
                                li
                                    a(href="#", ng-click="opened && Ungroup();", role="menuitem") グループ解除
                                //li
                                    a(href="#", ng-click="hoge1();") hoge
                        li.dropdown(ng-class="{disabled: !opened}")
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | ダウンロード
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="", ng-click="opened && PrintPDF();", role="menuitem") PDF
                                li
                                    a(href="", ng-click="opened && PrintSVG();", role="menuitem") SVG
                                li
                                    a(href="", ng-click="opened && PrintPNG();", role="menuitem") PNG
